#site-title {
	font-weight: 300;
}

#site-description {
<<<<<<< HEAD
	font-family:  "RobotoDraft", "Helvetica", "Arial", sans-serif;
=======
	font-family:  'Roboto', Arial, sans-serif;
>>>>>>> 2573f9d... finishing the design
	font-weight: 300;
}