// /*------------------------------------*\
//     #TYPOGRAPHY
// \*------------------------------------*/

@mixin typo-display-4($colorContrast:false) {
  @include font-size($base-font-size + 70px);
  font-weight: 300;
  letter-spacing: -0.04em;

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-display-3($colorContrast:false) {
  @include font-size($base-font-size + 28px);
  font-weight: 400;
  letter-spacing: -0.02em;

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-display-2($colorContrast:false) {
  @include font-size($base-font-size + 19px);

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-display-1($colorContrast:false) {
  @include font-size($base-font-size + 10px);

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-headline($colorContrast:false) {
  @include font-size($base-font-size + 6px);
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-title($colorContrast:false) {
  @include font-size($base-font-size + 4px);
  font-weight: 700;
  letter-spacing: 0.02em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-subhead($colorContrast:false) {

  @include font-size($base-font-size + 2px);
  font-weight: 400;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-body-2($colorContrast:false) {
  @include font-size($base-font-size);
  font-weight: 700;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-body-1($colorContrast:false) {
	@include font-size($base-font-size);
  font-weight: 400;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-caption($colorContrast:false) {
	@include font-size($base-font-size - 1px);
  font-weight: 400;
  letter-spacing: 0.08em;

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-blockquote($colorContrast:false) {
	@include font-size($base-font-size + 10px);
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.08em;
  &:before {
    content: '“';
    opacity: 0.54;
  }

  &:after {
    content: '”';
    opacity: 0.54;
  }

  @if $colorContrast {
    opacity: 0.54;
  }
}

@mixin typo-menu($colorContrast:false) {

  @include font-size($base-font-size);
  font-weight: 700;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-button($colorContrast:false) {

  @include font-size($base-font-size);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

@mixin typo-button-sm($colorContrast:false) {

  @include font-size($base-font-size - 1px);
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}
