/*------------------------------------*\
    #LINKS
\*------------------------------------*/

button, .menu-items, h1, h2, h3, h4, h5, h6 {

	a {
		text-decoration: none;
		&:hover, &:focus, &:active {
		text-decoration: none;
		}
	}
}

label:focus, label.focus {
text-decoration: none;
}
.comment-reply-link, 
.comment-reply-login, 
input[type="button"],
input[type="reset"],
input[type="submit"] {
	text-decoration: none;
		&:hover, &:focus, &:active {
		text-decoration: none;
		}
}

#site-title a:hover, 
#site-title a:focus {
	border-bottom: none;
}

#menu-primary-items>li>a {
	border-bottom: 2px solid transparent;

	&:hover, &:focus, &:active {
	border-bottom: 2px solid $color-primary;
}
}

.sub-menu:hover ~ #menu-primary-items>li>a, #menu-primary li.current-menu-item>a {
border-bottom: 2px solid $color-primary;
color: $grey-flat-700;
}

