/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border-radius: $base-radius;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    @include shadow-z1();

    &::-moz-focus-inner {
      border: 0;
    }

    &:hover {
        background-color: $btn-bg-hover;
        @include shadow-z3();
    }

    &:focus, &:active {
        background-color: $btn-bg-active;
        @include shadow-z2();
    }



}
