/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
  cursor: default;

  &>span {
  }
  
  a {
  text-decoration: none;
  color: $grey-600;
  }
  
  .sep {
    color: $grey-500;
  }
  
  .trail-end {
    font-weight: bold;
    color: $grey-700;
    
  }
}