/*------------------------------------*\
    #BLOCKQUOTES
\*------------------------------------*/

blockquote {
outline: 0;
border: 0;
border-radius: 2px;
padding-bottom: 1px;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	// content: "";
}

blockquote,
q {
	// quotes: "" "";
}

blockquote.alignleft,
blockquote.alignright {
	//width: 33%;
}