/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/* ====== Primary Font ====== */

.font-primary,
#footer,
body,
input,
textarea,
.label-checkbox,
.label-radio,
.required,
#site-description,
#reply-title small { 
	font-family:  'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
}

/* ====== Secondary Font ====== */

.font-secondary,
dt,
th,
legend,
label,
input[type="submit"],
input[type="reset"], 
input[type="button"],
button,
select,
option,
.wp-caption-text,
.gallery-caption,
.mejs-controls,
.wp-playlist-item-meta,
.entry-byline,
.entry-footer,
.chat-author cite,
.chat-author,
.comment-meta,
.menu,
.breadcrumb-trail,
.media-info .prep,
.comment-reply-link,
.comment-reply-login,
.clean-my-archives .day,
.whistle-title {
	font-family:  'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
}

/* ====== Headlines Font ====== */

.font-headlines,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:  'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
}

/* Thin font weights. */

#site-description, 
.main { 
	font-weight: 300; 
}

#menu-primary li a, #menu-secondary li a { 
  font-weight: 400;
  letter-spacing: 0.04em;
  @include font-size(14px, false);
}

#menu-primary li li a, #menu-secondary li li a { 
  font-weight: 400;
  letter-spacing: 0.04em;
  @include font-size(13px, false);
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu li>a::after {
vertical-align: middle;
}

/* Normal font weights. */
.widget-title > .wrap,
#comments-number > .wrap,
#reply-title > .wrap,
.attachment-meta-title > .wrap,
dt,
dt.font-secondary { 
	font-weight: 400; 
}

/* Bold font weights. */

b,
strong,
.comment-author { 
	font-weight: 700; 
}
