/*------------------------------------*\
    #HEADER
\*------------------------------------*/

#menu-primary .search-form .search-toggle {
	@include md {
position: relative;
margin-top: -5px;
margin-right: -6px;
width: 45px;
height: 45px;
border-radius: 50%;
@include shadow-z1();
    &::before {
        color: #fff;
        }

&:hover, &:active, &:focus {
	@include shadow-z3();
	}
}
}

#menu-primary {
	@include shadow-z1();
}


#menu-primary, #menu-primary .search-form>div, #footer, .audio-shortcode-wrap, .media-shortcode-extend .media-info, .media-info-toggle, .entry-content .media-info-toggle, .media-info-toggle:hover, .media-info-toggle:focus, .wp-audio-shortcode.mejs-container, .mejs-controls, .mejs-volume-button .mejs-volume-slider, .mejs-overlay-play .mejs-overlay-button::after, .mejs-time-rail .mejs-time-float, .wp-playlist-dark {
background: $grey-100;
}


#menu-primary li a, #menu-secondary li li a, #menu-primary .menu-toggle button:hover, #menu-primary .menu-toggle button:focus {
	color: $grey-flat-400;

	&:hover, &:focus, &:active {
		color: $grey-flat-700;
	}
}


.ltr #menu-primary ul ul, .ltr #menu-secondary ul ul, .ltr #menu-primary li:hover>ul, .ltr #menu-primary li:focus>ul, .ltr #menu-primary li.focus>ul, .ltr #menu-secondary li:hover>ul, .ltr #menu-secondary li:focus>ul, .ltr #menu-secondary li.focus>ul {
	@include shadow-z4();
}

.menu li>ul::before {
	content: none;
}

#menu-primary li li a, #menu-secondary li li a {
	@include md {
background: #fff;
border: 0;
	}

}


#menu-primary ul ul li a:hover, #menu-secondary ul ul li a:hover, #menu-primary ul ul li a:focus, #menu-secondary ul ul li a:focus {
background: $grey-200;
}


#menu-primary ul ul {
top: 47px;
}

.header-image {
margin-bottom: 1.5rem;
}

.home .header-image {
margin-bottom: 0;
}