/*------------------------------------*\
    #CODE
\*------------------------------------*/

code {
  // padding: 2px 5px;
  // margin: 0 2px;
  // white-space: nowrap;
  // background: $grey-100;
  // border: 1px solid #E0E0E0;
  // border-radius: $base-radius; 
}

pre > code {
  // display: block;
  // padding: $base-spacing-unit;
  // white-space: pre; 
}