// /*------------------------------------*\
// 	#COLORS
// \*------------------------------------*/

// Greys

$grey-50:           #FAFAFA;
$grey-100:          #F5F5F5;
$grey-200:          #EEEEEE;
$grey-300:          #E0E0E0;
$grey-400:          #BDBDBD;
$grey-500:          #9E9E9E;
$grey-600:          #757575;
$grey-700:          #616161;
$grey-800:          #424242;
$grey-900:          #212121;

$grey-flat-100:     #CFD8DC;
$grey-flat-200:     #B0BEC5;
$grey-flat-400:     #78909C;
$grey-flat-700:     #455A64;
$grey-flat-900:     #263238;     


// Reds

$red-50:            #FFEBEE;
$red-100:           #FFCDD2;
$red-200:           #EF9A9A;
$red-300:           #E57373;
$red-400:           #EF5350;
$red-500:           #F44336;
$red-600:           #E53935;
$red-700:           #D32F2F;
$red-800:           #C62828;
$red-900:           #B71C1C;

$red-flat-100:      #FF8A80;
$red-flat-200:      #FF5252;
$red-flat-400:      #FF1744;
$red-flat-700:      #D50000;


// Blues

$blue-50:           #E3F2FD;
$blue-100:          #BBDEFB;
$blue-200:          #90CAF9;
$blue-300:          #64B5F6;
$blue-400:          #42A5F5;
$blue-500:          #2196F3;
$blue-600:          #1E88E5;
$blue-700:          #1976D2;
$blue-800:          #1565C0;
$blue-900:          #0D47A1;

$blue-flat-100:     #82B1FF;
$blue-flat-200:     #448AFF;
$blue-flat-400:     #2979FF;
$blue-flat-700:     #2962FF;


// Greens

$green-50:          #E8F5E9;
$green-100:         #C8E6C9;
$green-200:         #A5D6A7;
$green-300:         #81C784;
$green-400:         #66BB6A;
$green-500:         #4CAF50;
$green-600:         #43A047;
$green-700:         #388E3C;
$green-800:         #2E7D32;
$green-900:         #1B5E20;

$green-flat-100:    #B9F6CA;
$green-flat-200:    #69F0AE;
$green-flat-400:    #00E676;
$green-flat-700:    #00C853;


// Yellows

$yellow-50:         #FFFDE7;
$yellow-100:        #FFF9C4;
$yellow-200:        #FFF59D;
$yellow-300:        #FFF176;  
$yellow-400:        #FFEE58;
$yellow-500:        #FFEB3B;
$yellow-600:        #FDD835;
$yellow-700:        #FBC02D;
$yellow-800:        #F9A825;
$yellow-900:        #F57F17;

$yellow-flat-100:   #FFFF8D;
$yellow-flat-200:   #FFFF00;
$yellow-flat-400:   #FFEA00;
$yellow-flat-700:   #FFD600;


// Brand

$color-primary:         	$blue-flat-700;
$color-secondary:       	$green-800;


// Accents

$color-grey-ui: 			$grey-flat-100;


// Text

$color-text:            	$grey-flat-900;

$color-links:           	$color-primary;
$color-links-hover:     	darken($color-links, 10);
$color-links-visited:     	darken($color-links, 20);



// Objects

// Sections
$color-header: 				$color-primary;

// Buttons
$btn-text:        			$color-text;
$btn-bg:  					$color-grey-ui;
$btn-bg-hover:  			lighten($btn-bg, 5);
$btn-bg-active:  			darken($btn-bg, 10);
$btn-primary-bg:  			$color-primary;
$btn-primary-text:  		#fff;


$color-hr: 					$color-grey-ui;

//Alerts
$color-error:  				$red-flat-400;
$color-valid: 				$green-flat-400;
$color-warning: 			$yellow-flat-400;
$color-information: 		$blue-flat-400;





// Helpers

$color-black: 				$grey-900;
$color-grey-darker: 		$grey-800;
$color-grey-dark: 			$grey-600;
$color-gray: 				$grey-500;
$color-grey-light: 			$grey-400;
$color-grey-lighter: 		$grey-200;
$color-grey-lightest: 		$grey-50;





$color-white: 				#fff;