// /*------------------------------------*\
//     #GLOBAL
// \*------------------------------------*/

$base-font-size:    16px;
$base-line-height:  24px;

$base-radius: 2px;

$base-transition-speed: 0.1s;

$base-spacing-unit: $base-line-height;
$base-spacing-unit-sm: $base-spacing-unit / 2;
$base-spacing-unit-lg: $base-spacing-unit * 2;

$font-body: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

