/*
Theme Name: 	Material Gaze
Theme URI: 		http://martyhelmick.com/
Author: 		Marty Helmick
Author URI: 	http://martyhelmick.com/
Description: 	A clean and minimal child theme for the <a href="http://wordpress.org/themes/stargazer">Stargazer</a> parent theme.
Version: 		1.0
License: 		GNU General Public License v2 or later
License URI: 	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: 	Material Gaze
Tags:
Template:		stargazer
*/
/* ====== Primary Font ====== */
.font-primary, p, li, body, input, textarea, .label-checkbox, .label-radio, .required, #site-description, #reply-title small {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300; }

/* ====== Secondary Font ====== */
.font-secondary, dt, th, legend, label, input[type="submit"], input[type="reset"], input[type="button"], button, select, option, .wp-caption-text, .gallery-caption, .mejs-controls, .wp-playlist-item-meta, .entry-byline, .entry-footer, .chat-author cite, .chat-author, .comment-meta, .menu, .breadcrumb-trail, .media-info .prep, .comment-reply-link, .comment-reply-login, .clean-my-archives .day, .whistle-title {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

a {
	font-weight: 400; }

/* ====== Headlines Font ====== */
.menu, .font-headlines, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300; }
.menu a:hover, .menu a:focus, .menu a:active, .font-headlines a:hover, .font-headlines a:focus, .font-headlines a:active, h1 a:hover, h1 a:focus, h1 a:active, h2 a:hover, h2 a:focus, h2 a:active, h3 a:hover, h3 a:focus, h3 a:active, h4 a:hover, h4 a:focus, h4 a:active, h5 a:hover, h5 a:focus, h5 a:active, h6 a:hover, h6 a:focus, h6 a:active {
	text-decoration: none; }

/* ====== color: #212121 ====== */
body, .media-shortcode-extend .media-info, .wp-playlist-dark .wp-playlist-item {
	color: #212121; }

/* ====== border-color: #E0E0E0 ====== */
h1, h2, hr, code, pre, .form-allowed-tags code, fieldset, legend, input, select, textarea, .gallery .gallery-icon a img, .avatar, .display-header-text #header, .entry, .format-chat .chat-author, .media-info li, .wp-playlist-tracks, .wp-playlist-item, .loop-description, .loop-pagination, .loop-nav, #sidebar-subsidiary, li.ping, .comment-content, .clean-my-archives .day-duplicate .day, .whistles-tabs-nav li a, .whistles-tabs .whistles-tabs-nav li a:hover, .whistles-tabs .whistles-tabs-nav li a:focus, .whistles-tabs .whistles-tabs-wrap, .whistles-toggle .whistle-title, .whistles-accordion .whistle-title, .whistles-toggle .whistle-content, .whistles-accordion .whistle-content {
	border-color: #e0e0e0; }

/* ====== color: #424242 ====== */
h6, .whistles-tabs .whistles-tabs-nav li[aria-selected="true"] a, .whistles-tabs .whistles-tabs-nav li a:hover, .whistles-tabs .whistles-tabs-nav li a:focus, .whistles-toggle .whistle-title:hover, .whistles-toggle .whistle-title:focus, .whistles-toggle .whistle-title[aria-selected="true"], .whistles-accordion .whistle-title:hover, .whistles-accordion .whistle-title[aria-selected="true"], label:hover, label:focus, label.focus, .loop-pagination .current {
	color: #424242; }

/* ====== color: #9E9E9E ====== */
caption, td, label, input, textarea, select, .gallery .gallery-caption, .page-links, .loop-pagination, .loop-nav, .widget_recent_entries .post-date, .widget-entry-views .entry-view-count, .gallery-count, .comment-respond .must-log-in, .comment-respond .logged-in-as, .comments-closed, .comment-notes, .form-allowed-tags, .whistles-tabs-nav li a, .whistles-toggle .whistle-title, .whistles-accordion .whistle-title, .wp-playlist-dark .wp-playlist-item-meta {
	color: #9e9e9e; }

/* ====== background: #455A64 ====== */
#menu-primary, #menu-primary .search-form > div, #footer, .audio-shortcode-wrap, .media-shortcode-extend .media-info, .media-info-toggle, .entry-content .media-info-toggle, .media-info-toggle:hover, .media-info-toggle:focus, .wp-audio-shortcode.mejs-container, .mejs-controls, .mejs-volume-button .mejs-volume-slider, .mejs-overlay-play .mejs-overlay-button::after, .mejs-time-rail .mejs-time-float, .wp-playlist-dark {
	background: #455a64; }

body.custom-colors {
	border-top-color: #455a64;
	border-bottom-color: #455a64; }

/* ====== Other colors ====== */
tr, thead, tfoot, td {
	border-color: #f5f5f5; }

td {
	background: #fafafa; }

input[type="number"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
	border-color: #e0e0e0; 
	background: #f5f5f5;}

input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select:focus {
	border-color: #e0e0e0; 
	color: #424242;
	background: #eee;}

.gallery .gallery-icon a img {
	background: none; }

.gallery-icon a:hover img, .galley-icon a:focus img {
	background: none; }

#menu-primary {
	box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }

#menu-primary .menu-toggle button {
	color: rgba(255, 255, 255, 0.75); }

@media only screen and (max-width: 799px) {
	#menu-secondary .wrap, #menu-primary .search-form > div {
		background: #fff; }

	#menu-primary li a, #menu-secondary li a, #menu-secondary li li a, #menu-secondary .menu-toggle button {
		border-color: transparent; 
		color: rgba(0, 0, 0, 0.75);
		background: #fff;}

	#menu-primary li a:hover, #menu-secondary li a:hover, #menu-primary li a:focus, #menu-secondary li a:focus {
		color: #000 !important;
		background: #f5f5f5; }
	}

.entry-title, .entry-title a {
	color: #212121; }

.image-sizes .sep {
	color: #e0e0e0; }

.loop-description {
	color: #757575;
	background: #f9f9f9; }

/* Menu colors */
@media only screen and (min-width: 800px) {
	.sub-menu {
		box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23); }

	.sidebar .sub-menu {
		box-shadow: none; }

	.menu li > ul::before {
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent; }

	.menu li li > ul::before {
		border-top-color: transparent;
		border-bottom-color: transparent; }

	.ltr .menu li li > ul::before {
		border-right-color: #fff; }

	.rtl .menu li li > ul::before {
		border-left-color: #fff; }

	.ltr .menu li li > ul:hover::before {
		border-right-color: #f5f5f5; }

	.rtl .menu li li > ul:hover::before {
		border-left-color: #f5f5f5; }

	#menu-primary li li a, #menu-secondary li li a {
		border-color: #fff;
		color: rgba(0, 0, 0, 0.75); 
		background: #fff;
		font-size: 0.85rem;}

	#menu-primary ul ul li a:hover, #menu-secondary ul ul li a:hover, #menu-primary ul ul li a:focus, #menu-secondary ul ul li a:focus {
		color: #000; 
		background: #f5f5f5;}

	#menu-primary .search-form .search-toggle::before {
		font-size: 1.3rem; }
	}

#menu-primary li a, #menu-secondary li a {
	font-size: 1rem;
	font-weight: 500; 
	text-transform: capitalize;}

#container > .wrap {
	border-radius: 2px;
	box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }

h2#site-description.font-primary {
	opacity: 1;
	color: #9e9e9e;
	font-weight: 500;
	font-style: normal; }

.entry-byline {
	color: #9e9e9e; }
.entry-byline a {
	color: #9e9e9e; }
.entry-byline a:hover {
	text-decoration: none; }

.gallery .gallery-icon a img {
	padding: 0;
	border: 0;
	border-radius: 2px; 
	background: 0 0;}

#site-title a:hover, #site-title a:focus {
	border-bottom: 0; }

.widget-title > .wrap {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem 1rem 0.925rem;
	border-radius: 2px 2px 0 0; 
	font-size: 1.3rem;
	font-weight: 300;
	text-transform: capitalize;}

#footer {
	color: rgba(255, 255, 255, 0.75); }
#footer a {
	font-weight: 500; }

.ltr .widget-title > .wrap::before {
	padding-right: 10px;
	font-size: 1.3rem; }

#menu-primary .search-form .search-toggle {
	position: relative;
	width: 45px;
	height: 45px;
	margin-top: -5px;
	margin-right: -6px;
	border-radius: 50%; }

#menu-primary .search-form .search-toggle, input[type="submit"], input[type="reset"], input[type="button"], button, .page-links a, .comment-reply-link, .comment-reply-login, .wp-calendar td.has-posts a, #menu-sub-terms li a {
	box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
#menu-primary .search-form .search-toggle:hover, #menu-primary .search-form .search-toggle:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="button"]:hover, input[type="button"]:focus, button:hover, button:focus, .page-links a:hover, .page-links a:focus, .comment-reply-link:hover, .comment-reply-link:focus, .comment-reply-login:hover, .comment-reply-login:focus, .wp-calendar td.has-posts a:hover, .wp-calendar td.has-posts a:focus, #menu-sub-terms li a:hover, #menu-sub-terms li a:focus {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
	text-decoration: none; }

.comment-reply-link, .comment-reply-login {
	border-radius: 0 0 2px 2px; }

.entry-content a, .entry-summary a, .comment-content a {
	border: 0; }

form label {
	cursor: default; }
